@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default Leaflet popup content margin/padding for custom popups */
.my-custom-popup .leaflet-popup-content {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    @apply bg-gray-100 dark:bg-gray-900;
}
#root {
    height: 100%;
    margin: 0;
    padding: 0;
}
