---
import App from "../components/App";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Australia Map Travel Journal</title>
    </head>
    <body>
        <App client:load />
    </body>
</html>
